#guessfield{
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;

}
#submitguess{
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}