#form{
    display: flex;
    color: grey;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f2f2f2;

}
button{
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}